In [1]:
import os
import sys
import pandas as pd
from pprint import pprint

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [2]:
patients_ds_file = 'BI Analyst Interview Stage 2 - Sample Inpatient Dataset 2013 - 2015(1).xlsx'

In [3]:
patients_ds_xl = pd.ExcelFile(patients_ds_file)

In [5]:
patients_ds_xl

In [56]:
patients_ds_xl.sheet_names

['Inpatient_Discharges', 'Sheet1', '2012', '2013', '2014', '2015']

In [57]:
patients_ds_df = patients_ds_xl.parse('Inpatient_Discharges')

In [58]:
patients_ds_df.head()

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Adult/Child,Y/N on 30/09/2014@5am,Unnamed: 14
0,1.0,76.0,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 Days 22 Hour 50 Minutes,Adult,N,2014-09-30 05:00:00
1,2.0,41.0,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 Days 16 Hour 16 Minutes,Adult,N,NaT
2,3.0,46.0,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 Days 21 Hour 31 Minutes,Adult,N,NaT
3,4.0,7.0,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 Days 18 Hour 9 Minutes,Child,N,NaT
4,5.0,8.0,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 Days 18 Hour 13 Minutes,Child,N,NaT

In [59]:
patients_ds_df.columns

Index(['Patient ID', 'Age', 'Specialty', 'Directorate', 'Doctor',
       'Admission date and time', 'Discharge Date and Time', 'Ward',
       'Admission Type', 'Admission Category', 'Admission Source', 'LOS',
       'Adult/Child', 'Y/N on 30/09/2014@5am', 'Unnamed: 14'],
      dtype='object')

In [60]:
patients_ds_df.dtypes

Patient ID                        float64
Age                               float64
Specialty                          object
Directorate                        object
Doctor                             object
Admission date and time            object
Discharge Date and Time            object
Ward                               object
Admission Type                     object
Admission Category                 object
Admission Source                   object
LOS                                object
Adult/Child                        object
Y/N on 30/09/2014@5am              object
Unnamed: 14                datetime64[ns]
dtype: object

In [61]:
patients_ds_df['DateAdmission'] = pd.to_datetime(patients_ds_df['Admission date and time'],errors='coerce')

In [62]:
patients_ds_df['DateDischarge'] = pd.to_datetime(patients_ds_df['Discharge Date and Time'],errors='coerce')

In [63]:
patients_ds_df['Patient ID'].count()

12411

In [64]:
patients_ds_df['AdmissionYear'] = patients_ds_df['DateAdmission'].map(lambda x: x.year)

In [65]:
patients_ds_df.head()

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Adult/Child,Y/N on 30/09/2014@5am,Unnamed: 14,DateAdmission,DateDischarge,AdmissionYear
0,1.0,76.0,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 Days 22 Hour 50 Minutes,Adult,N,2014-09-30 05:00:00,2012-12-05 01:31:00,2013-01-01 00:21:00,2012.0
1,2.0,41.0,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 Days 16 Hour 16 Minutes,Adult,N,NaT,2012-12-31 17:01:00,2013-01-01 09:17:00,2012.0
2,3.0,46.0,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 Days 21 Hour 31 Minutes,Adult,N,NaT,2012-12-31 14:29:00,2013-01-01 12:00:00,2012.0
3,4.0,7.0,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 Days 18 Hour 9 Minutes,Child,N,NaT,2012-12-31 22:35:00,2013-01-01 16:44:00,2012.0
4,5.0,8.0,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 Days 18 Hour 13 Minutes,Child,N,NaT,2012-12-31 22:31:00,2013-01-01 16:44:00,2012.0

In [66]:
patients_ds_df['AdmissionYear'].value_counts()

2013.0    4536
2014.0    3930
2015.0    3893
2012.0      54
Name: AdmissionYear, dtype: int64

In [68]:
(4536 + 3930 + 3893) / 3

4119.666666666667

In [70]:
patients_ds_df['PatientStayRange'] = patients_ds_df['DateDischarge'] - patients_ds_df['DateAdmission']

In [71]:
patients_ds_df.head()

,Patient ID,Age,Specialty,Directorate,Doctor,Admission date and time,Discharge Date and Time,Ward,Admission Type,Admission Category,Admission Source,LOS,Adult/Child,Y/N on 30/09/2014@5am,Unnamed: 14,DateAdmission,DateDischarge,AdmissionYear,PatientStayRange
0,1.0,76.0,Adult Stroke,Medical,Fiona O'Donnell,2012-12-05 01:31:00,2013-01-01 00:21:00,Acute Stroke Unit,A/E,Private Patient,ED,26 Days 22 Hour 50 Minutes,Adult,N,2014-09-30 05:00:00,2012-12-05 01:31:00,2013-01-01 00:21:00,2012.0,26 days 22:50:00
1,2.0,41.0,Adult Urology,Surgical,Damian Hinds,2012-12-31 17:01:00,2013-01-01 09:17:00,Lane,A/E,Public Patient,ED,0 Days 16 Hour 16 Minutes,Adult,N,NaT,2012-12-31 17:01:00,2013-01-01 09:17:00,2012.0,0 days 16:16:00
2,3.0,46.0,Adult Cardiology,Medical,Frank Field,2012-12-31 14:29:00,2013-01-01 12:00:00,CCU,A/E,Private Patient,Emergency OPD Admission,0 Days 21 Hour 31 Minutes,Adult,N,NaT,2012-12-31 14:29:00,2013-01-01 12:00:00,2012.0,0 days 21:31:00
3,4.0,7.0,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:35:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 Days 18 Hour 9 Minutes,Child,N,NaT,2012-12-31 22:35:00,2013-01-01 16:44:00,2012.0,0 days 18:09:00
4,5.0,8.0,Paediatric Orthopaedics,Paediatric,Gordon Birtwistle,2012-12-31 22:31:00,2013-01-01 16:44:00,OAK,A/E,Public Patient,ED,0 Days 18 Hour 13 Minutes,Child,N,NaT,2012-12-31 22:31:00,2013-01-01 16:44:00,2012.0,0 days 18:13:00

In [72]:
patients_ds_df['PatientStayRange'].describe()

count                      12413
mean      6 days 02:09:57.839361
std      20 days 17:15:08.958581
min              0 days 00:01:00
25%              1 days 03:47:00
50%              2 days 18:01:00
75%              5 days 19:26:00
max           1268 days 22:30:00
Name: PatientStayRange, dtype: object

In [77]:
current_bed = 53 

# avg of stay - mean      6 days 02:09:57.839361
patient_avg_range_of_days =  6

# 12 , 13, 14 , 15 counts avg. 
# number of patients in year 12, 13 ,14 ,15 avg
avg_yearly_patients = 4119.666666666667

In [78]:
bed_required =  ( patient_avg_range_of_days * avg_yearly_patients ) / 365

In [79]:
print('******** Number of Beds Required *****************\n' + str(bed_required))

******** Number of Beds Required *****************
67.72054794520548